.searchDiv {
    position: fixed;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
.searchDiv input {
    height: 50px;
    width: 300px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    margin: 20px;
    padding-left: 10px;
}

.searchDiv button {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

